<!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script> -->
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
{{if .keyword_page}}
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
{{end}}
<!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.3/dist/umd/popperjs.min.js"
  integrity="sha384-zq3LL1X97stAjkxawzPeB1Y+pL+xlISd7+j8e2MwsrT3qBZzqvX70HuWhpjToLJj"
  crossorigin="anonymous"></script> -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{{if .keyword_page}}
 <!-- Custom JS -->
 <script>
  $(document).ready(function () {
      $('#keywords').DataTable();
  });
</script>
{{end}}

{{if .result_page}}
<script>
  function goBack() {
    window.history.back();
  }

  function copyText() {
    var copyText = document.getElementById("htmlCode");
    var textArea = document.createElement("textarea");
    textArea.value = copyText.textContent;
    document.body.appendChild(textArea);
    textArea.select();
    document.execCommand("Copy");
    textArea.remove();
    alert("Copied HTML Code to clipboard!");
  }
</script>
{{end}}
</body>
</html>